/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --title-decor-text-color: #353430;
  --background-image: url(../images/cover-image-light.png);
  --heading-color: #ffc2e6;
  --rec-display: none;
  --hover-border-color: rgba(53, 52, 48, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --title-decor-text-color: #353430;
    --background-image: url(../images/cover-image-light.png);
    --heading-color: #ffc2e6;
    --rec-display: none;
    --hover-border-color: rgba(53, 52, 48, 0.4);
  }
}
