/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: 'IBM Plex Mono', monospace;
  min-height: 100vh;
  background-color: var(--background-color);
  background-image: var(--background-image);
  color: var(--text-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.header {
  position: relative;
  min-block-size: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: start;
  padding: 10px;
}
.header__theme-menu {
  grid-row: 1;
  justify-self: end;
  align-self: center;
}
.header__title {
  margin: 0;
  grid-row: 2;
  justify-self: start;
  align-self: center;
  line-height: 0.825;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}
.header__text {
  grid-row: 3;
  justify-self: end;
  align-self: center;
  margin: 0;
  font-size: var(--main-font-size);
  line-height: 23px;
  font-weight: 700;
  max-inline-size: 355px;
}
.header__text-line {
  display: block;
}
.header__theme-menu-list {
  list-style: none;
  display: grid;
  justify-items: end;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px;
  color: var(--accent-color);
  background: transparent;
  cursor: pointer;
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid currentColor;
}
.header__theme-menu-button:hover {
  border-color: var(--hover-border-color);
}
.header__theme-menu-button:focus-visible {
  border-color: transparent;
  border-bottom-color: currentColor;
}
.rec {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-right: 24px;
  display: var(--rec-display);
  color: var(--accent-color);
  text-transform: uppercase;
}
.rec::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 10px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}
.decorated-zone {
  position: relative;
}
.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}
.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}
.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.content {
  display: grid;
  padding: 40px 10px;
  gap: 50px;
  min-inline-size: 0;
}
.content__section {
  display: grid;
  gap: var(--gap-medium);
}

.content__title {
  margin: 0;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 23.1px;
  font-weight: 700;
}
.content__list {
  display: grid;
  gap: var(--gap-medium);
}
.content__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.card {
  display: grid;
  gap: var(--gap-small);
}
.card__title {
  margin: 0;
  font-size: 18px;
  line-height: 17px;
  font-weight: 700;
}

.card__text {
  margin: 0;
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
}
.title-decor {
  padding: 0;
  background-color: var(--accent-color);
  color: var(--title-decor-text-color);
}
.card__title_weight_normal {
  font-weight: 400;
}
.header__text.title-decor,
.card__title.title-decor {
  padding-block: 3px;
}
.content__section_type_gallery {
  gap: var(--gap-small);
}
.content__section_type_gallery .content__title.title-decor {
  padding-block: 1px;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}
.card__link:hover {
  border-bottom: 1px solid currentColor;
}
.card__link:focus {
  outline: none;
}
.card__link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}
/* Галлерея */
.gallery {
  display: grid;
  gap: var(--gap-small);
}
.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* Футер */
.footer {
  position: relative;
  min-block-size: 100vh;
  min-height: 668px;
  padding: 10px;
  display: grid;
  place-items: center;
  
}
.footer__title {
  margin: 0;
  line-height: 0.825;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--heading-color);
}
/*Адаптивность */

@media (min-width: 768px) {
  .header {
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    min-height: 1024px;
  }

  .header__theme-menu {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    align-self: center;
  }

  .header__title {
    grid-column: 1 / -1;
    grid-row: 2;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
  .header__text {
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    max-inline-size: 364px;
  }
  .rec {
    top: 20px;
    right: 20px;
  }
   .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
   .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  .content {
    padding: 0 20px 60px;
    margin-top: 60px;
    gap: 80px;
  }
  .content__section {
    grid-template-columns: 236px 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: var(--gap-medium);
    row-gap: var(--gap-medium);
    align-items: start;
  }
  .content__section:first-of-type {
    margin-bottom: -20px;
  }
  .content__section_type_reasons {
    grid-template-columns: 236px 1fr;
    column-gap: var(--gap-medium);
    row-gap: var(--gap-medium);
    align-items: start;
  }

  .content__section_type_reasons .content__title {
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .content__section_type_reasons .content__list {
    grid-column: 2;
    grid-row: 1;
  }
  .content__section_type_reasons .content__title + .content__list {
    grid-row: 1;
  }
  .content__section_type_factors {
    grid-template-columns: 236px 1fr;
    grid-template-rows: min-content min-content;
    column-gap: var(--gap-medium);
  }

  .content__section_type_factors .content__title {
    grid-column: 1;
    grid-row: 1;
  }

  .content__section_type_factors .content__list {
    grid-column: 1 / -1; 
    grid-row: 2;
  }

  .content__section_type_factors .content__title + .content__list {
    grid-row: 2;
  }
   .content__section_type_advices {
    grid-template-columns: 236px 1fr;
    grid-template-rows: 1fr min-content;
    column-gap: var(--gap-medium);
    row-gap: var(--gap-medium);
    align-items: start;
  }

  .content__section_type_advices .content__title {
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .content__section_type_advices .content__subtitle {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
  }

  .content__section_type_advices .content__list {
    grid-column: 2;
    grid-row: 2;
  }

  .content__section_type_advices .content__subtitle + .content__list {
    margin-top: 0;
    gap: var(--gap-medium);
  }

  .content__section_type_advices .content__title + .content__list {
    grid-row: 2;
  }

  .content__title {
    line-height: 23.6px;
    grid-column: 1;
    grid-row: 1;
  }
  
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-medium);
  }
  .gallery__image_type_sunset {
    grid-column: 1 / 3;
  }

  .gallery__image_type_ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__image_type_tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__image_type_books {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image_type_street {
    grid-column: 2 / 4;
    grid-row: 3;
  }
  .content__list_type_gallery-articles {
  grid-template-columns: repeat(2, 1fr);
  }
  
  .content__section_type_gallery {
    grid-template-columns: 1fr;
  }
  .content__section_type_gallery .content__title,
  .content__section_type_gallery .gallery {
    grid-column: 1;
  }
  .footer {
    padding: 20px;
    min-height: 1024px;
  }
  .footer__title {
    font-size: clamp(7.5rem,0.5625rem + 14.4531vw,9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header {
    justify-items: center;
    min-height: 768px;
  }
  .header__text {
    max-inline-size: 491px;
}
  .header__theme-menu {
    grid-column: 1 / -1; 
    grid-row: 1;
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list{
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .content {
    padding: 60px 20px;
    max-width: 1024px;
    margin: 0 auto;
    gap: 80px;
  }
  .content__section_type_reasons {
    grid-template-columns: 315px 1fr;
    align-items: start;
  }
    .content__section_type_factors {
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gap-medium);
    row-gap: var(--gap-medium);
    align-items: start;
  }

  .content__section_type_factors .content__title {
    grid-column: 1;
    grid-row: 1;
  }

  .content__section_type_factors .content__list {
    display: contents;
  }

  .content__section_type_factors .card {
    grid-row: 2;
  }
  .content__section_type_advices {
    grid-template-columns: 315px 1fr;
    row-gap: var(--gap-medium);
    align-items: start;
  }

  .content__section_type_advices .content__title {
    grid-column: 1;
    grid-row: 1 / -1;
  }

  .content__section_type_advices .content__subtitle {
    grid-column: 2;
    grid-row: 1;
  }

  .content__section_type_advices .content__list {
    grid-column: 2;
    grid-row: 2;
  }
  .footer {
    min-height: 768px;
  }
}