/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --heading-color: #db00ff;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-decor-text-color: #000028;
  --main-font-size: 18px;
  --main-line-height: 23px;
  --gap-small: 10px;
  --gap-medium: 20px;
  --gap-large: 50px;
  --rec-display: inline-block;
  --hover-border-color: rgba(255, 0, 112, 0.4);
}